# Harmonizing city and state names

***A. Import packages***

In [273]:
import os
import numpy as np
import pandas as pd

***B. Define dictionaries***

In [274]:
states_abbrev = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [275]:
states_temps = {'Albuquerque':'NM',
 'Anchorage':'AK',
 'Atlanta':'GA',
 'Austin':"TX",
 'Baltimore':'MD',
 'Boise':"ID",
 'Boston':'MA',
 'Charlotte':'NC',
 'Chicago':'IL',
 'Columbus':'OH',
 'Dallas':'TX',
 'Denver':"CO",
 'Detroit':'MI',
 'El Paso':'TX',
 'Fairbanks':'AK',
 'Houston':'TX',
 'Indianapolis':'IN',
 'Jacksonville':'FL',
 'Kansas City':"MO",
 'Lake Havasu City':'AZ',
 'Las Vegas':'NV',
 'Los Angeles':'CA',
 'Louisville':'KY',
 'Memphis':'TN',
 'Miami':'FL',
 'Milwaukee':'WI',
 'Minneapolis':"MN",
 'Nashville':'TN',
 'New Orleans':'LA',
 'New York City':"NY",
 'Oklahoma City':'OK',
 'Omaha':'NE',
 'Philadelphia':'PA',
 'Phoenix':'AZ',
 'Pittsburgh':'PA',
 'Portland':'OR',
 'Sacramento':'CA',
 'Salt Lake City':'UT',
 'San Antonio':'TX',
 'San Diego':'CA',
 'San Francisco':'CA',
 'Seattle':'WA',
 'St. Louis':'MO',
 'Tampa':'FL',
 'Tucson':'AZ',
 'Virginia Beach':'VA',
 'Washington, D.C.':'DC',
 'Wichita':'KS'}

In [276]:
states_bus = {'New York City':'NY',
 'Cleveland':'OH',
 'Providence':'RI',
 'Washington, D.C.':'DC',
 'Hartford':'CT',
 'Buffalo':'NY',
 'San Jose':'CA',
 'Northern New Jersey':'NJ',
 'Long Beach':'CA',
 'Oakland':'CA',
 'Cambridge':'MA',
 'Fort Lauderdale':'FL',
 'Naperville':'IL',
 'Camden':'NJ',
 'St. Petersburg':'FL',
 'Waukesha':'WI',
 'Elyria':'OH',
 'New Bedford':'MA',
 'Towson':'MD',
 'Warren':'MI',
 'Arlington':'VA',
 'West Hartford':'CT',
 'Carlsbad':'CA',
 'Niagara Falls':'NY',
 'Sunnyvale':'CA',
 'Tacoma':'WA',
 'Long Island':'NY',
 'Santa Ana':'CA',
 'Fremont':'CA',
 'Quincy':'MA',
 'Pompano Beach':'FL',
 'Joliet':'IL',
 'Wilmington':'DE',
 'Clearwater':'FL',
 'West Allis':'WI',
 'Mentor':'OH',
 'Fall River':'MA',
 'Livonia':'MI',
 'Alexandria':'VA',
 'East Hartford':'CT',
 'San Marcos':'CA',
 'Santa Clara':'CA',
 'Bellevue':'WA'}

In [277]:
states_percip = {'Birmingham':'AL',
'Cincinnati':'OH',
'Orlando':'FL',
'Raleigh':'NC',
'Richmond':'VA',
'Riverside':'CA',
'Rochester':'NY'}

In [278]:
def fix_cities(df):
    df.loc[df['city'] == 'Nashville', 'city'] = 'Nashville-Davidson'
    df.loc[df['city'] == 'Louisville', 'city'] = 'Louisville-Jefferson'
    df.loc[df['city'] == 'Lexington', 'city'] = 'Lexington-Fayette'    
    df.loc[df['city'] == 'OklahomaCity', 'city'] = 'Oklahoma City'
    df.loc[df['city'] == 'Salt LakeCity', 'city'] = 'Salt Lake City'
    df.loc[df['city'] == 'SanFrancisco', 'city'] = 'San Francisco'
    df.loc[df['city'] == 'VirginiaBeach', 'city'] = 'Virginia Beach'
    df.loc[df['city'] == 'Washington,D.C.', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'Washington Dc', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'Washington Dc', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'Washington Dc', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'OklahomaCity', 'city'] = 'Oklahoma City'
    df.loc[df['city'] == 'Salt LakeCity', 'city'] = 'Salt Lake City'
    df.loc[df['city'] == 'SanFrancisco', 'city'] = 'San Francisco'
    df.loc[df['city'] == 'VirginiaBeach', 'city'] = 'Virginia Beach'
    df.loc[df['city'] == 'Washington,D.C.', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'Washington Dc', 'city'] = 'Washington, D.C.'

In [307]:
states_abbrev_2 = {v : k for k, v in states_abbrev.items()}

In [309]:
#states_abbrev_2

In [281]:
files = os.listdir()
files

['.ipynb_checkpoints',
 '01-Web scraping.ipynb',
 '02 - Clean Cities.ipynb',
 '03-Fuzzy Merge.ipynb',
 'city_busdensity.pkl',
 'city_congestion.pkl',
 'city_percip.pkl',
 'city_poulations.pkl',
 'city_taxes.pkl',
 'city_temp.pkl',
 'city_traffic.pkl',
 'city_walkscore.pkl',
 'citycodes.csv',
 'indicator_data_US.csv',
 'indicator_data_US.xls',
 'states.pkl']

In [282]:
pkls = []
for file in files:
    if file.endswith(".pkl"):
        pkls.append(file)
    else:
        files.remove(file)
pkls

['city_busdensity.pkl',
 'city_congestion.pkl',
 'city_percip.pkl',
 'city_poulations.pkl',
 'city_taxes.pkl',
 'city_temp.pkl',
 'city_traffic.pkl',
 'city_walkscore.pkl']

***C. Clean each file***

**i. Temperatures**

In [283]:
pickle = 'city_temp.pkl'
pkls.remove(pickle)

In [284]:
df = pd.read_pickle(pickle)

In [285]:
df.head()

               country         city  year_C  year_F state
0  Antigua and Barbuda   St. John's    26.9    80.4   NaN
1                Aruba   Oranjestad    28.1    82.6   NaN
2          The Bahamas       Nassau    24.6    76.3   NaN
3             Barbados   Bridgetown    27.0    80.6   NaN
4               Belize  Belize City    26.7    80.1   NaN

In [286]:
fix_cities(df)

In [287]:
df.city[(df.state.isnull() == True) & (df.country == 'United States')]

Series([], Name: city, dtype: object)

In [288]:
pickle

'city_temp.pkl'

In [289]:
df.to_pickle(pickle)

**ii. Businesses**

In [290]:
pkls

['city_busdensity.pkl',
 'city_congestion.pkl',
 'city_percip.pkl',
 'city_poulations.pkl',
 'city_taxes.pkl',
 'city_traffic.pkl',
 'city_walkscore.pkl']

In [291]:
pickle = 'city_busdensity.pkl'
pkls.remove(pickle)

In [292]:
df = pd.read_pickle(pickle)

In [293]:
df.head()

   bus_per_sq_mi           city state
0           79.0  New York City    NY
1           68.7    Los Angeles    CA
2           47.9  San Francisco    CA
3           34.9         Boston    MA
4           33.1          Miami    FL

In [294]:
df = df.drop(['state'], axis = 1)

In [295]:
fix_cities(df)

In [296]:
df['state'] = df['city'].map(states_bus)

In [297]:
df['state'] = df['state'].fillna(df['city'].map(states_temps))

In [298]:
df.city[(df.state.isnull() == True)]

49    None
54    None
Name: city, dtype: object

In [299]:
df.to_pickle(pickle)

**iii. Percipitation**

In [320]:
pkls

['city_congestion.pkl',
 'city_poulations.pkl',
 'city_taxes.pkl',
 'city_traffic.pkl',
 'city_walkscore.pkl']

In [321]:
pickle = 'city_percip.pkl'
pkls.remove(pickle)

In [322]:
df = pd.read_pickle(pickle)

In [323]:
df.head()

   days        city  percip_inches  percip_mil      state_long state
0   113     Atlanta           49.7        1263         Georgia    GA
1    88      Austin           34.2         870           Texas    TX
2   116   Baltimore           41.9        1064        Maryland    MD
3   117  Birmingham           53.7        1364         Alabama    AL
4   126      Boston           43.8        1112   Massachusetts    MA

In [317]:
df = df.rename(columns={'state': 'state_long'})

In [324]:
df['state'] = df['state_long'].map(states_abbrev_2)

In [326]:
fix_cities(df)

In [325]:
df['state'] = df['state'].fillna(df['city'].map(states_temps))

In [ ]:
df['state'] = df['state'].fillna(df['city'].map(states_bus))

In [ ]:
df['state'] = df['state'].fillna(df['city'].map(states_percip))

In [ ]:
df.city[(df.state.isnull() == True)]

In [ ]:
df.to_pickle(pickle)

**iv. Walkability**

In [ ]:
pkls

In [ ]:
pickle = 'city_walkscore.pkl'
pkls.remove(pickle)

In [ ]:
df = pd.read_pickle(pickle)

In [ ]:
df.head()

In [ ]:
df.city[(df.state.isnull() == True)]

**v. Population**

In [ ]:
pkls

In [ ]:
pickle = 'city_poulations.pkl'
pkls.remove(pickle)

In [ ]:
df = pd.read_pickle(pickle)

In [ ]:
df.head()

In [ ]:
df = df.rename(columns={'state': 'state_long'})

In [ ]:
df['state'] = df['state_long'].map(states_abbrev_2)

In [ ]:
fix_cities(df)

In [ ]:
df['state'] = df['state'].fillna(df['city'].map(states_temps))

In [ ]:
#df['state'] = df['city'].map(states_bus)

In [ ]:
df['state'] = df['state'].fillna(df['city'].map(states_bus))

In [ ]:
df['state'] = df['state'].fillna(df['city'].map(states_percip))

In [ ]:
states_pop=df[(df.state.isnull() == True)].groupby('city')['state_long'].apply(list).to_dict()
states_pop

In [ ]:
df.city[(df.state.isnull() == True)]

In [ ]:
df.to_pickle(pickle)

**vi. Taxes**

In [ ]:
pkls

In [ ]:
pickle = 'city_taxes.pkl'
pkls.remove(pickle)

In [ ]:
df = pd.read_pickle(pickle)

In [ ]:
df.head()

In [ ]:
df = df.rename(columns={'state': 'state_long'})

In [ ]:
df['state'] = df['state_long'].map(states_abbrev_2)

In [ ]:
fix_cities(df)

In [ ]:
df['state'] = df['state'].fillna(df['city'].map(states_temps))
df['state'] = df['state'].fillna(df['city'].map(states_bus))
df['state'] = df['state'].fillna(df['city'].map(states_percip))

In [ ]:
df.city[(df.state.isnull() == True)]

In [ ]:
df.to_pickle(pickle)

**vii. Traffic**

In [ ]:
pkls

In [327]:
pickle = 'city_traffic.pkl'
pkls.remove(pickle)

In [328]:
df = pd.read_pickle(pickle)

In [329]:
df.head()

     country           city  pct_time_in_traffic state         region
0      USA      Los Angeles                 0.12    CA  North America
1   Russia           Moscow                 0.26  None         Europe
2      USA    New York City                 0.13    NY  North America
3   Brazil        Sao Paulo                 0.22  None  South America
4      USA    San Francisco                 0.12    CA  North America

In [ ]:
df.city[(df.state.isnull() == True) & (df.country == 'USA')]

In [ ]:
fix_cities(df)

In [ ]:
df.to_pickle(pickle)

In [ ]:
pkls

***

**viii. XXX**

In [ ]:
pickle = 'city_taxes.pkl'
pkls.remove(pickle)

In [ ]:
df = pd.read_pickle(pickle)

In [ ]:
df.head()

In [ ]:
df = df.rename(columns={'state': 'state_long'})

In [ ]:
df['state'] = df['state_long'].map(states_abbrev_2)

In [ ]:
fix_cities(df)

In [ ]:
df['state'] = df['state'].fillna(df['city'].map(states_temps))
df['state'] = df['state'].fillna(df['city'].map(states_bus))
df['state'] = df['state'].fillna(df['city'].map(states_percip))

In [ ]:
df.city[(df.state.isnull() == True)]

In [ ]:
#states_percip=df[(df.state.isnull() == True)].groupby('city')['state_long'].apply(list).to_dict()

In [ ]:
pkls

temps
businesses

In [ ]:
df['state'] = df['city'].map(states)

In [ ]:
list(df_busdensity.city[df_busdensity.state.isnull() == True])