In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
import fuzzymatcher
import fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [16]:
files = os.listdir()

In [17]:
files

['.ipynb_checkpoints',
 '01-Web scraping.ipynb',
 '02 - Clean Cities.ipynb',
 '03-Fuzzy Merge.ipynb',
 'city_busdensity.pkl',
 'city_congestion.pkl',
 'city_percip.pkl',
 'city_poulations.pkl',
 'city_taxes.pkl',
 'city_temp.pkl',
 'city_traffic.pkl',
 'city_walkscore.pkl',
 'citycodes.csv',
 'indicator_data_US.csv',
 'indicator_data_US.xls',
 'states.pkl']

In [18]:
cwd = os.getcwd()

In [23]:
pickles = []
for file in files:
    if file.endswith(".pkl"):
        pickles.append(file)
    else:
        files.remove(file)
pickles.remove('city_congestion.pkl')
pickles.remove('states.pkl')
pickles

['city_busdensity.pkl',
 'city_percip.pkl',
 'city_poulations.pkl',
 'city_taxes.pkl',
 'city_temp.pkl',
 'city_traffic.pkl',
 'city_walkscore.pkl']

In [25]:
def fix_cities(df):
    df.loc[df['city'] == 'Nashville', 'city'] = 'Nashville-Davidson'
    df.loc[df['city'] == 'Louisville', 'city'] = 'Louisville-Jefferson'
    df.loc[df['city'] == 'Lexington', 'city'] = 'Lexington-Fayette'    
    df.loc[df['city'] == 'OklahomaCity', 'city'] = 'Oklahoma City'
    df.loc[df['city'] == 'Salt LakeCity', 'city'] = 'Salt Lake City'
    df.loc[df['city'] == 'SanFrancisco', 'city'] = 'San Francisco'
    df.loc[df['city'] == 'VirginiaBeach', 'city'] = 'Virginia Beach'
    df.loc[df['city'] == 'Washington,D.C.', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'Washington Dc', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'Washington Dc', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'Washington Dc', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'OklahomaCity', 'city'] = 'Oklahoma City'
    df.loc[df['city'] == 'Salt LakeCity', 'city'] = 'Salt Lake City'
    df.loc[df['city'] == 'SanFrancisco', 'city'] = 'San Francisco'
    df.loc[df['city'] == 'VirginiaBeach', 'city'] = 'Virginia Beach'
    df.loc[df['city'] == 'Washington,D.C.', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'New York', 'city'] = 'New York City'
    df.loc[df['city'] == 'Washington', 'city'] = 'Washington, D.C.'
    df.loc[df['city'] == 'Washington Dc', 'city'] = 'Washington, D.C.'

***MERGE ALL PICKLES***

In [120]:
mainpkl = 'city_traffic.pkl'

In [121]:
df = pd.read_pickle(mainpkl)
df['city'] = df['city'].str.lower()
df['state'] = df['state'].str.strip()
df['city'] = df['city'].str.strip()
fix_cities(df)

In [122]:
df[df['city'] == 'los angeles']

  country         city  pct_time_in_traffic state         region
0   USA    los angeles                 0.12    CA  North America

In [123]:
df_pkl = pd.read_pickle('city_walkscore.pkl')
df_pkl['city'] = df_pkl['city'].str.strip()
df_pkl['state'] = df_pkl['state'].str.strip()
df_pkl['city'] = df_pkl['city'].str.lower()
df_pkl[df_pkl['city'] == 'los angeles']

          city state  walk_score  transit_score  bike_score  population
0  los angeles    CA        67.4           51.5        55.1     3792621

In [124]:
df = pd.merge(df, df_pkl, on = ['city','state'], how = 'outer')

In [125]:
df[df['city'] == 'los angeles']

,country,city,pct_time_in_traffic,state,region,walk_score,transit_score,bike_score,population
0,USA,los angeles,0.12,CA,North America,67.4,51.5,55.1,3792621.0

In [126]:
df = pd.read_pickle(mainpkl)
df['city'] = df['city'].str.lower()
df['state'] = df['state'].str.strip()
df['city'] = df['city'].str.strip()
fix_cities(df)

In [127]:
for file in pickles:
    if os.path.splitext(file)[-1].lower() == '.pkl':
        if file != mainpkl:
            df_pkl = pd.read_pickle(file)
            if 'city' in df_pkl.columns:
                df_pkl['city'] = df_pkl['city'].str.strip()
                df_pkl['city'] = df_pkl['city'].str.lower()
                df_pkl['state'] = df_pkl['state'].str.strip()
                fix_cities(df)
                if 'state' in df_pkl.columns:
                    df = pd.merge(df, df_pkl, on = ['city','state'], how = 'outer')
                    print(file,'success')
                else:
                    print(file, 'no state column')

city_busdensity.pkl success
city_percip.pkl success
city_poulations.pkl success
city_taxes.pkl success
city_temp.pkl success
city_walkscore.pkl success

In [128]:
len(df)

1542

In [129]:
df.head()

,country_x,city,pct_time_in_traffic,state,region,bus_per_sq_mi,days,percip_inches,percip_mil,state_long_x,...,city_tax,total_tax,tax_rank,country_y,year_C,year_F,walk_score,transit_score,bike_score,population
0,USA,los angeles,0.12,CA,North America,68.7,36.0,12.8,326.0,California,...,0.01500,0.09000,13.0,United States,17.4,63.3,67.4,51.5,55.1,3792621.0
1,Russia,moscow,0.26,None,Europe,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USA,new york city,0.13,NY,North America,79.0,122.0,49.9,1268.0,New York,...,0.04875,0.08875,17.0,United States,12.9,55.3,NaN,NaN,NaN,NaN
3,Brazil,sao paulo,0.22,None,South America,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USA,san francisco,0.12,CA,North America,47.9,68.0,20.7,525.0,California,...,0.01250,0.08750,19.0,United States,14.6,58.2,86.0,80.4,70.7,805235.0

In [119]:
#df.loc[(df['pct_time_in_traffic'].isnull()) & (df['state'].isnull()==False), ['city','state']]

In [130]:
df = df.drop_duplicates()

In [131]:
len(df)

1542

In [132]:
df_ys = df[(df['pct_time_in_traffic'].isnull()==False) & (df['state'].isnull()==False)]

In [136]:
len(df_ys)

306

In [134]:
df_ys.head()

,country_x,city,pct_time_in_traffic,state,region,bus_per_sq_mi,days,percip_inches,percip_mil,state_long_x,...,city_tax,total_tax,tax_rank,country_y,year_C,year_F,walk_score,transit_score,bike_score,population
0,USA,los angeles,0.12,CA,North America,68.7,36.0,12.8,326.0,California,...,0.01500,0.09000,13.0,United States,17.4,63.3,67.4,51.5,55.1,3792621.0
2,USA,new york city,0.13,NY,North America,79.0,122.0,49.9,1268.0,New York,...,0.04875,0.08875,17.0,United States,12.9,55.3,NaN,NaN,NaN,NaN
4,USA,san francisco,0.12,CA,North America,47.9,68.0,20.7,525.0,California,...,0.01250,0.08750,19.0,United States,14.6,58.2,86.0,80.4,70.7,805235.0
7,USA,atlanta,0.10,GA,North America,NaN,113.0,49.7,1263.0,Georgia,...,0.04000,0.08000,51.0,United States,16.8,62.3,49.2,46.0,41.4,420003.0
9,USA,miami,0.09,FL,North America,33.1,135.0,61.9,1572.0,Florida,...,0.01000,0.07000,90.0,United States,24.9,76.9,79.2,57.2,63.0,399457.0

In [113]:
df_ys.columns

Index(['country_x', 'city', 'pct_time_in_traffic', 'state', 'region',
       'bus_per_sq_mi', 'days', 'percip_inches', 'percip_mil', 'state_long_x',
       'rank', 'state_long_y', 'pop2019', 'pop2016', 'density2019',
       'state_long', 'state_tax', 'city_tax', 'total_tax', 'tax_rank',
       'country_y', 'year_C', 'year_F', 'walk_score', 'transit_score',
       'bike_score', 'population'],
      dtype='object')

In [103]:
df_ys.to_pickle('traffic_data_for_regression.pkl')

NameError: name 'df_ys' is not defined

In [104]:
df = pd.read_pickle('traffic_data_for_regression.pkl')

In [105]:
df.columns

Index(['country_x', 'city', 'pct_time_in_traffic', 'state', 'region',
       'bus_per_sq_mi', 'days', 'percip_inches', 'percip_mil', 'state_long_x',
       'rank', 'state_long_y', 'pop2019', 'pop2016', 'density2019',
       'state_long', 'state_tax', 'city_tax', 'total_tax', 'tax_rank',
       'country_y', 'year_C', 'year_F', 'walk_score', 'transit_score',
       'bike_score', 'population'],
      dtype='object')

In [106]:
df[df['state'].isna() == True]

Empty DataFrame
Columns: [country_x, city, pct_time_in_traffic, state, region, bus_per_sq_mi, days, percip_inches, percip_mil, state_long_x, rank, state_long_y, pop2019, pop2016, density2019, state_long, state_tax, city_tax, total_tax, tax_rank, country_y, year_C, year_F, walk_score, transit_score, bike_score, population]
Index: []

[0 rows x 27 columns]

In [107]:
df = df[['country_x', 'city', 'pct_time_in_traffic', 'state', 'bus_per_sq_mi', 'percip_inches', 'density2019','state_long', 'state_tax', 'city_tax', 'total_tax', 'year_F', 'walk_score', 'transit_score','bike_score', 'population']]

In [108]:
len(df)

306

In [109]:
df.country_x = [x.strip() for x in df.country_x]

In [110]:
df = df[df.country_x == 'USA']

In [111]:
df.country_x.value_counts()

USA    293
Name: country_x, dtype: int64

1. Update missing weather data

In [112]:
temps_updated = pd.read_pickle('city_temps_updated.pkl')

In [113]:
temps_updated.columns

Index(['index', 'state_long', 'percip_text', 'year_F_text', 'percip_inches',
       'year_F', 'state'],
      dtype='object')

In [114]:
temps_updated = temps_updated.rename(columns={temps_updated.columns[0]: 'city'})

2. Update missing walkscores

In [115]:
walkscore_updated = pd.read_pickle('city_walkscores_updated.pkl')

In [116]:
df['city_state'] = df['city']+'_'+df['state']
temps_updated['city_state'] = temps_updated['city']+'_'+temps_updated['state']
walkscore_updated['city_state'] = walkscore_updated['city']+'_'+walkscore_updated['state']

In [117]:
df['population'] = np.where(df['population'].isnull(),df['city_state'].map(walkscore_updated.set_index(['city_state'])['population']),df['population'])

In [118]:
def update_cols(df, df2, col_update, col_id):
    df[col_update] = np.where(df[col_update].isnull(),df[col_id].map(df2.set_index([col_id])[col_update]),df[col_update])

In [119]:
temp_cols = ['percip_inches', 'year_F']
for t in temp_cols:
    update_cols(df, temps_updated, t, 'city_state')

In [120]:
walk_cols = ['walk_score', 'transit_score','bike_score','population']
for t in walk_cols:
    update_cols(df, walkscore_updated, t, 'city_state')

In [121]:
state_tax = df.groupby(['state','state_tax']).count().reset_index()
state_tax = state_tax.iloc[:,0:2]
state_tax_dict = dict(zip(state_tax.iloc[:,0],state_tax.iloc[:,1]))
state_tax_dict

df['state_tax'] = df['state'].map(state_tax_dict)

In [122]:
df.columns

Index(['country_x', 'city', 'pct_time_in_traffic', 'state', 'bus_per_sq_mi',
       'percip_inches', 'density2019', 'state_long', 'state_tax', 'city_tax',
       'total_tax', 'year_F', 'walk_score', 'transit_score', 'bike_score',
       'population', 'city_state'],
      dtype='object')

In [123]:
df = df.rename(columns={df.columns[0]: 'country'})

In [124]:
len(df)

293

In [125]:
df

,country,city,pct_time_in_traffic,state,bus_per_sq_mi,percip_inches,density2019,state_long,state_tax,city_tax,total_tax,year_F,walk_score,transit_score,bike_score,population,city_state
0,USA,los angeles,0.12,CA,68.7,12.80,3343.0,California,0.07500,0.01500,0.09000,63.30,67.4,51.5,55.1,3792621.0,los angeles_CA
2,USA,new york city,0.13,NY,79.0,49.90,11056.0,New York,0.04000,0.04875,0.08875,55.30,NaN,NaN,NaN,NaN,new york city_NY
4,USA,san francisco,0.12,CA,47.9,20.70,7388.0,California,0.07500,0.01250,0.08750,58.20,86.0,80.4,70.7,805235.0,san francisco_CA
7,USA,atlanta,0.10,GA,NaN,49.70,1450.0,Georgia,0.04000,0.04000,0.08000,62.30,49.2,46.0,41.4,420003.0,atlanta_GA
9,USA,miami,0.09,FL,33.1,61.90,5276.0,Florida,0.06000,0.01000,0.07000,76.90,79.2,57.2,63.0,399457.0,miami_FL
12,USA,"washington, d.c.",0.11,DC,25.0,NaN,4506.0,District of Columbia,0.05750,0.00000,0.05750,58.20,NaN,NaN,NaN,NaN,"washington, d.c._DC"
13,USA,boston,0.14,MA,34.9,43.80,5549.0,Massachusetts,0.06250,0.00000,0.06250,51.70,80.9,72.6,69.0,617594.0,boston_MA
16,USA,chicago,0.10,IL,32.9,36.90,4550.0,Illinois,0.06250,0.04000,0.10250,51.40,77.8,65.0,71.5,2695598.0,chicago_IL
19,USA,seattle,0.12,WA,16.5,37.70,3532.0,Washington,0.06500,0.03100,0.09600,52.40,73.1,59.6,70.0,608660.0,seattle_WA
21,USA,dallas,0.06,TX,NaN,37.60,1567.0,Texas,0.06250,0.02000,0.08250,66.20,46.2,39.7,46.4,1197816.0,dallas_TX
25,USA,houston,0.07,TX,NaN,49.80,1431.0,Texas,0.06250,0.02000,0.08250,69.40,48.7,36.8,47.9,2099451.0,houston_TX
27,USA,portland,0.11,OR,NaN,43.50,1931.0,NaN,NaN,NaN,NaN,54.40,64.7,51.4,81.2,583776.0,portland_OR
31,USA,san diego,0.10,CA,18.2,10.30,1728.0,California,0.07500,0.00500,0.08000,64.10,50.9,37.0,39.4,1307402.0,san diego_CA
39,USA,austin,0.11,TX,NaN,34.20,1205.0,Texas,0.06250,0.02000,0.08250,69.30,40.3,33.5,51.2,790390.0,austin_TX
41,USA,stamford,0.13,CT,NaN,53.15,NaN,NaN,NaN,NaN,NaN,52.10,54.0,38.0,39.0,122643.0,stamford_CT
42,USA,tacoma,0.11,WA,16.5,39.25,1725.0,Washington,0.06500,0.03100,0.09600,53.40,53.0,NaN,47.0,198397.0,tacoma_WA
43,USA,minneapolis,0.07,MN,NaN,30.60,3033.0,Minnesota,0.06875,0.00900,0.07775,46.10,69.2,57.6,81.9,382578.0,minneapolis_MN
51,USA,philadelphia,0.08,PA,31.5,41.50,4537.0,Pennsylvania,0.06000,0.02000,0.08000,55.80,79.0,66.8,65.6,1526006.0,philadelphia_PA
53,USA,honolulu,0.11,HI,NaN,17.13,2238.0,Hawaii,0.04000,0.00500,0.04500,77.60,63.7,57.2,49.2,337256.0,honolulu_HI
56,USA,denver,0.08,CO,NaN,15.60,1844.0,Colorado,0.02900,0.04750,0.07650,50.70,60.5,47.8,71.3,600158.0,denver_CO
58,USA,detroit,0.06,MI,25.2,33.50,1843.0,Michigan,0.06000,0.00000,0.06000,50.00,55.4,38.1,51.5,713777.0,detroit_MI
61,USA,orlando,0.07,FL,NaN,50.70,1091.0,Florida,0.06000,0.00500,0.06500,72.80,42.1,32.7,54.8,238300.0,orlando_FL
62,USA,phoenix,0.06,AZ,NaN,8.20,1276.0,Arizona,0.05600,0.03000,0.08600,75.00,40.8,36.0,52.4,1445632.0,phoenix_AZ
66,USA,baton rouge,0.10,LA,NaN,60.60,1015.0,Louisiana,0.05000,0.05000,0.10000,68.35,40.6,NaN,43.3,229493.0,baton rouge_LA
84,USA,tampa,0.07,FL,27.2,46.30,1373.0,Florida,0.06000,0.01000,0.07000,73.20,50.0,31.5,54.5,335709.0,tampa_FL
88,USA,baltimore,0.07,MD,25.2,41.90,2836.0,Maryland,0.06000,0.00000,0.06000,55.60,69.4,57.2,52.1,620961.0,baltimore_MD
92,USA,cincinnati,0.07,OH,NaN,41.90,1483.0,Ohio,0.05750,0.01250,0.07000,54.65,50.4,43.6,35.0,296943.0,cincinnati_OH
95,USA,san antonio,0.06,TX,NaN,32.30,1312.0,Texas,0.06250,0.02000,0.08250,69.50,37.6,36.1,41.9,1327407.0,san antonio_TX
97,USA,sacramento,0.07,CA,NaN,18.50,2030.0,California,0.07500,0.01000,0.08500,61.30,47.1,33.7,65.9,466488.0,sacramento_CA
99,USA,las vegas,0.08,NV,NaN,4.20,1903.0,Nevada,0.06850,0.01300,0.08150,68.50,41.1,33.6,43.9,583756.0,las vegas_NV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,USA,wheeling,0.03,WV,NaN,40.40,NaN,NaN,NaN,NaN,NaN,52.95,37.0,NaN,28.0,28486.0,wheeling_WV
1231,USA,oxford,0.03,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN,18916.0,oxford_MS
1240,USA,corpus christi,0.03,TX,NaN,33.43,729.0,Texas,0.06250,0.02000,0.08250,73.50,40.6,29.1,41.1,305215.0,corpus christi_TX
1245,USA,fall river,0.03,MA,25.9,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,65.0,33.0,43.0,88857.0,fall river_MA
1246,USA,saginaw,0.03,MI,NaN,33.30,NaN,NaN,0.06000,NaN,NaN,47.60,40.0,NaN,47.0,51508.0,saginaw_MI
1262,USA,kalamazoo,0.02,MI,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,46.0,NaN,49.0,74262.0,kalamazoo_MI
1269,USA,sherman,0.02,TX,NaN,43.62,NaN,NaN,0.06250,NaN,NaN,63.00,30.0,NaN,33.0,38521.0,sherman_TX
1270,USA,green bay,0.03,WI,NaN,29.53,NaN,NaN,0.05000,NaN,NaN,44.15,41.0,28.0,47.0,104057.0,green bay_WI
1273,USA,springfield,0.03,IL,NaN,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,springfield_IL
1274,USA,cumberland,0.02,MD,NaN,37.37,NaN,NaN,0.06000,NaN,NaN,54.80,50.0,19.0,32.0,20859.0,cumberland_MD
1278,USA,elyria,0.03,OH,26.3,39.58,NaN,NaN,0.05750,NaN,NaN,52.10,29.0,NaN,40.0,54533.0,elyria_OH
1280,USA,canton,0.02,OH,NaN,39.58,NaN,NaN,0.05750,NaN,NaN,49.85,47.0,NaN,42.0,73007.0,canton_OH
1282,USA,texas city,0.02,TX,NaN,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,35.0,NaN,41.0,45099.0,texas city_TX
1285,USA,cocoa,0.02,FL,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,35.0,26.0,NaN,17140.0,cocoa_FL
1288,USA,kenosha,0.02,WI,NaN,36.14,NaN,NaN,0.05000,NaN,NaN,47.90,46.0,NaN,46.0,99218.0,kenosha_WI
1293,USA,kennewick-pasco-richland,0.02,WA,NaN,NaN,NaN,NaN,0.06500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kennewick-pasco-richland_WA
1295,USA,youngstown,0.02,OH,NaN,38.91,NaN,NaN,0.05750,NaN,NaN,49.05,37.0,NaN,33.0,66982.0,youngstown_OH
1297,USA,texarkana,0.02,TX,NaN,51.98,NaN,NaN,0.06250,NaN,NaN,63.90,29.0,NaN,37.0,36411.0,texarkana_TX
1298,USA,pine bluff,0.03,AR,NaN,51.14,NaN,NaN,NaN,NaN,NaN,62.95,26.0,NaN,34.0,49083.0,pine bluff_AR
1299,USA,bangor,0.03,ME,NaN,41.91,NaN,NaN,NaN,NaN,NaN,44.15,41.0,NaN,36.0,33039.0,bangor_ME
1306,USA,fort pierce,0.03,FL,NaN,53.77,NaN,NaN,0.06000,NaN,NaN,73.15,39.0,NaN,48.0,41590.0,fort pierce_FL
1307,USA,bristol,0.02,TN,NaN,41.08,NaN,NaN,0.07000,NaN,NaN,55.55,25.0,NaN,17.0,26702.0,bristol_TN
1309,USA,utica,0.02,NY,NaN,45.28,NaN,NaN,0.04000,NaN,NaN,56.85,58.0,NaN,46.0,62235.0,utica_NY
1313,USA,greensboro,0.02,NC,NaN,42.36,878.0,North Carolina,0.04750,0.02000,0.06750,59.05,29.1,NaN,30.4,269666.0,greensboro_NC
1315,USA,peoria,0.02,IL,NaN,36.45,NaN,NaN,0.06250,NaN,NaN,51.80,39.0,NaN,40.0,115007.0,peoria_IL
1322,USA,abilene,0.02,TX,NaN,24.83,NaN,NaN,0.06250,NaN,NaN,64.55,31.0,NaN,37.0,117063.0,abilene_TX
1326,USA,athens,0.02,AL,NaN,NaN,NaN,NaN,0.04000,NaN,NaN,NaN,21.0,NaN,33.0,21897.0,athens_AL
1329,USA,wichita falls,0.02,TX,NaN,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,30.0,NaN,39.0,104553.0,wichita falls_TX
1338,USA,high point,0.02,NC,NaN,46.16,NaN,NaN,0.04750,NaN,NaN,60.45,26.0,NaN,28.0,104371.0,high point_NC
1343,USA,parkersburg,0.01,WV,NaN,42.09,NaN,NaN,NaN,NaN,NaN,54.70,44.0,NaN,31.0,31492.0,parkersburg_WV

In [126]:
df.describe()

,pct_time_in_traffic,bus_per_sq_mi,percip_inches,density2019,state_tax,city_tax,total_tax,year_F,walk_score,transit_score,bike_score,population
count,293.000000,26.000000,236.000000,109.000000,239.000000,74.000000,74.000000,238.000000,262.000000,141.000000,254.000000,2.620000e+02
mean,0.055017,30.161538,37.755890,1628.000000,0.058409,0.019637,0.076972,58.111765,43.773282,33.614184,45.052362,2.183454e+05
std,0.025810,14.688147,14.065715,1504.914412,0.011035,0.016364,0.012521,8.351748,13.904752,12.564932,12.170208,3.786471e+05
min,0.010000,16.500000,4.200000,341.000000,0.029000,0.000000,0.045000,38.900000,14.000000,0.000000,17.000000,1.714000e+04
25%,0.040000,25.050000,30.847500,774.000000,0.052125,0.007062,0.070000,51.500000,34.000000,27.000000,37.000000,5.753600e+04
50%,0.050000,26.300000,40.245000,1219.000000,0.060000,0.018750,0.078875,57.150000,41.000000,32.000000,43.950000,1.049370e+05
75%,0.070000,32.550000,47.972500,1859.000000,0.062500,0.026875,0.084512,64.100000,51.000000,38.100000,51.500000,2.027158e+05
max,0.140000,79.000000,66.220000,11056.000000,0.075000,0.060000,0.102500,77.600000,86.000000,80.400000,90.000000,3.792621e+06

In [127]:
df.to_pickle('traffic_data_for_regression.pkl')

In [132]:
df[df['percip_inches'].isna()==True]

,country,city,pct_time_in_traffic,state,bus_per_sq_mi,percip_inches,density2019,state_long,state_tax,city_tax,total_tax,year_F,walk_score,transit_score,bike_score,population,city_state
12,USA,"washington, d.c.",0.11,DC,25.0,NaN,4506.0,District of Columbia,0.05750,0.0,0.0575,58.2,NaN,NaN,NaN,NaN,"washington, d.c._DC"
132,USA,st louis,0.04,MO,NaN,NaN,NaN,NaN,0.04225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,st louis_MO
134,USA,wilmington,0.07,DE,31.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wilmington_DE
190,USA,port st. lucie,0.05,FL,NaN,NaN,658.0,NaN,0.06000,NaN,NaN,NaN,14.0,NaN,34.0,164603.0,port st. lucie_FL
302,USA,columbia,0.10,MD,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,32.0,27.0,31.0,99615.0,columbia_MD
360,USA,woodbridge,0.12,VA,NaN,NaN,NaN,NaN,0.05300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,woodbridge_VA
396,USA,north charleston,0.06,SC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,38.0,97471.0,north charleston_SC
408,USA,dana point,0.13,CA,NaN,NaN,NaN,NaN,0.07500,NaN,NaN,NaN,52.0,27.0,39.0,33351.0,dana point_CA
409,USA,dublin,0.09,CA,NaN,NaN,NaN,NaN,0.07500,NaN,NaN,NaN,34.0,NaN,56.0,46036.0,dublin_CA
429,USA,waterbury,0.10,CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN,25.0,110366.0,waterbury_CT
468,USA,new haven,0.09,CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,NaN,66.0,129779.0,new haven_CT
517,USA,manassas,0.09,VA,NaN,NaN,NaN,NaN,0.05300,NaN,NaN,55.9,41.0,21.0,42.0,37821.0,manassas_VA
531,USA,hampton,0.07,VA,NaN,NaN,NaN,NaN,0.05300,NaN,NaN,61.9,33.0,27.0,40.0,137436.0,hampton_VA
661,USA,strathearn,0.06,CA,NaN,NaN,NaN,NaN,0.07500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,strathearn_CA
687,USA,greenville,0.08,NC,NaN,NaN,NaN,NaN,0.04750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,greenville_NC
727,USA,hammond,0.05,IN,NaN,NaN,NaN,NaN,0.07000,NaN,NaN,NaN,49.0,NaN,53.0,80830.0,hammond_IN
730,USA,gary,0.06,IN,NaN,NaN,NaN,NaN,0.07000,NaN,NaN,NaN,34.0,NaN,38.0,80294.0,gary_IN
747,USA,new port richey,0.07,FL,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,new port richey_FL
759,USA,rohnert park,0.06,CA,NaN,NaN,NaN,NaN,0.07500,NaN,NaN,NaN,41.0,NaN,56.0,40971.0,rohnert park_CA
764,USA,surprise,0.07,AZ,NaN,NaN,502.0,NaN,0.05600,NaN,NaN,NaN,21.0,NaN,44.0,117517.0,surprise_AZ
766,USA,freehold township,0.07,NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,freehold township_NJ
767,USA,vallejo,0.06,CA,NaN,NaN,NaN,NaN,0.07500,NaN,NaN,NaN,42.0,NaN,33.0,115942.0,vallejo_CA
769,USA,myrtle beach,0.07,SC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,NaN,53.0,27109.0,myrtle beach_SC
791,USA,ocean township,0.07,NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ocean township_NJ
806,USA,king of prussia,0.04,PA,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,35.0,31.0,NaN,19936.0,king of prussia_PA
820,USA,derby,0.05,CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,derby_CT
826,USA,north chicago,0.04,IL,NaN,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,37.0,28.0,46.0,32574.0,north chicago_IL
895,USA,brick,0.05,NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brick_NJ
906,USA,fitchburg,0.05,MA,NaN,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,41.0,27.0,27.0,40318.0,fitchburg_MA
908,USA,portsmouth,0.05,NH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,20779.0,portsmouth_NH
924,USA,gainesville,0.05,FL,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gainesville_FL
930,USA,atco,0.06,NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,atco_NJ
932,USA,delano,0.04,CA,NaN,NaN,NaN,NaN,0.07500,NaN,NaN,NaN,36.0,NaN,37.0,53041.0,delano_CA
936,USA,scranton,0.04,PA,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,57.0,NaN,34.0,76089.0,scranton_PA
996,USA,schenectady,0.04,NY,NaN,NaN,NaN,NaN,0.04000,NaN,NaN,NaN,64.0,37.0,47.0,66135.0,schenectady_NY
1007,USA,delmar,0.05,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,delmar_DE
1017,USA,lancaster,0.05,CA,NaN,NaN,654.0,NaN,0.07500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lancaster_CA
1023,USA,easton,0.04,PA,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,67.0,29.0,45.0,26800.0,easton_PA
1057,USA,rochester,0.04,NH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,30.0,29752.0,rochester_NH
1063,USA,gresham,0.04,OR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,41.0,63.0,105594.0,gresham_OR
1084,USA,new london,0.04,CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,NaN,38.0,27620.0,new london_CT
1089,USA,buford,0.05,GA,NaN,NaN,NaN,NaN,0.04000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,buford_GA
1102,USA,meriden,0.05,CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,NaN,30.0,60868.0,meriden_CT
1107,USA,peekskill,0.04,NY,NaN,NaN,NaN,NaN,0.04000,NaN,NaN,NaN,60.0,33.0,29.0,23583.0,peekskill_NY
1158,USA,rocky mount,0.04,NC,NaN,NaN,NaN,NaN,0.04750,NaN,NaN,NaN,24.0,NaN,33.0,57477.0,rocky mount_NC
1165,USA,egg harbor township,0.05,NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,egg harbor township_NJ
1166,USA,st. george,0.04,UT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,16.0,42.0,72897.0,st. george_UT
1175,USA,wilkes-barre,0.04,PA,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,61.0,NaN,44.0,41498.0,wilkes-barre_PA
1231,USA,oxford,0.03,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN,18916.0,oxford_MS
1245,USA,fall river,0.03,MA,25.9,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,65.0,33.0,43.0,88857.0,fall river_MA
1262,USA,kalamazoo,0.02,MI,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,46.0,NaN,49.0,74262.0,kalamazoo_MI
1273,USA,springfield,0.03,IL,NaN,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,springfield_IL
1282,USA,texas city,0.02,TX,NaN,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,35.0,NaN,41.0,45099.0,texas city_TX
1285,USA,cocoa,0.02,FL,NaN,NaN,NaN,NaN,0.06000,NaN,NaN,NaN,35.0,26.0,NaN,17140.0,cocoa_FL
1293,USA,kennewick-pasco-richland,0.02,WA,NaN,NaN,NaN,NaN,0.06500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kennewick-pasco-richland_WA
1326,USA,athens,0.02,AL,NaN,NaN,NaN,NaN,0.04000,NaN,NaN,NaN,21.0,NaN,33.0,21897.0,athens_AL
1329,USA,wichita falls,0.02,TX,NaN,NaN,NaN,NaN,0.06250,NaN,NaN,NaN,30.0,NaN,39.0,104553.0,wichita falls_TX

In [133]:
len(df)

293